* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 6px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: #1769aa;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
}
.nav-content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.nav-item.active a {
  font-weight: bold;
  color: #1769aa;
}

/* hero section */

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}
span {
  color: #1769aa;
}

.text-container {
  max-width: 100%;
  margin: 30px;
}
.text-container h1 {
  font-size: 3.4em;
  margin-bottom: 20px;
  color: black;
}
.text-container p {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #565e6d;
}

.hero-image {
  max-width: 100%;
  width: auto;
  height: 400px;
  margin: 30px;
}

/* Cards */

.card-container {
  width: 400px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 10%;
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #e6e6e6;
}
.card-text {
  margin: -20px 15px 0;
  text-align: left;
}
.h-card {
  color: #565e6d;
  font-size: 1.5rem;
}
.p-card {
  color: #9095a1;
  font-size: 1rem;
  margin-top: 10px;
}
.card-container img {
  width: 100%;
  border-radius: 10% 10% 0 0;
}
/* .card-container button {
  background-color: #1769aa;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.card-container button:hover {
  background-color: #1a74be;
} */

/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
} */

/* instructions-cards */
.card-wrapper {
  display: flex;
  justify-content: space-around;
  height: 75;
  margin: 0 50px 0 50px;
}
.instructions-svg1 {
  padding-top: 70px;
}
.instructions-svg2 {
  padding-top: 109px;
}
.instructions-svg3 {
  padding-top: 98px;
}
.cards-container {
  width: 450px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10%;
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #e6e6e6;
  text-align: center;
}
.cards-text {
  max-width: 400px;
  width: 100%;
  /* margin-left: 28px; */
}

/* Startups page */

.main-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 25px;
  margin: 20px 0;
}

.startups-container {
  text-align: center;
  margin-bottom: 20px 0;
  width: 100%;
  /* margin: 30px;  */
}

.startups-button {
  background-color: #1769aa;
  color: white;
  border: none;
  padding: 20px 60px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.startup-button {
  cursor: pointer;
  border: none;
  color: #1769aa;
}

.header-text {
  color: #1769aa;
  margin-bottom: 15px;
  padding-top: 15px;
  font-size: 2.5rem;
}
.startups-pargraph {
  font-size: 1.3rem;
  color: #565e6d;
}
.swiper {
  max-width: 1600px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f5f5f5;
  padding: 20px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Instruction page */

.container {
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px;
}

.instruction-container {
  text-align: center;
  margin-bottom: 50px;
}

/* incubators */
.incubators {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
}
.incubators-container {
  padding: 20px;
  background-color: #f5f5f5;
  width: 100%;
}
.incubators-text {
  max-width: 1260px;
  margin: 0 auto;
}

.first-inv-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.incu-logo {
  margin: 30px;
}

.incu-logo img {
  max-width: 100%;
  height: auto;
}

/* SWIPER   */
swiper-container {
  width: 800px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

/* Investors page */
.logo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.inv-container {
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.inv-logo {
  margin: 50px 0 0 0;
  background-color: #efefef;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-inv-info {
  display: flex;
  justify-content: center;
}
.inv-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-Logo {
  font-size: 20px;
  padding-left: 50px;
}

.footer-info {
  margin: 0;
  text-align: right;
  padding-right: 50px;
}

.footer-info a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.footer-info a:hover {
  color: #ddd;
}

.pargraph-footer {
  margin-top: 90px;
  font-size: 15px;
}

.button-with-image {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* faqs */

.faqs-container {
  margin: 0 auto;
  background-color: #f5f5f5;
  height: 100vh;
}
.faqs-content {
  padding: 20px;
  background-color: #f5f5f5;
  /* max-width: 1600px; */
  width: 100%;
}
.faqs-text {
  max-width: 900px;
  margin: 0 auto;
}
.faqs-q {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.faqs-header {
  color: #1769aa;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
}
.faqs-p {
  padding: 25px 0 40px;
  text-align: center;
  font-size: 1.3rem;
  color: #565e6d;
}

@media screen and (max-width: 1200px) {
  .burger-menu {
    display: none;
  }
  .burger-icon {
    display: none;
  }
  .hero-container {
    max-width: 992px;
    margin: 0 auto;
  }
  .hero-container h1 {
    font-size: 2.5rem;
  }
  .hero-container p {
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  .hero-image {
    width: 450px;
    height: 450px;
  }
  .logo-container {
    grid-template-columns: repeat(2, 0.3s);
    gap: 1rem;
  }
  .startups-button {
    margin-top: 30px;
  }
  .card-container {
    width: 500px;
    height: 550px;
  }
  .header-text {
    font-size: 3rem;
  }
  .startups-pargraph {
    font-size: 1.8rem;
  }
  .faqs-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  .nav-content {
    max-width: 992px;
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    max-width: 992px;
  }
  .hero-image {
    width: 330px;
    height: 380px;
  }
  .hero-container {
    max-width: 768px;
    margin: 0 auto;
  }
  .hero-container h1 {
    font-size: 2.3rem;
  }
  .hero-container p {
    font-size: 1.2rem;
  }
  .faqs-content {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .faqs-header {
    font-size: 2.3rem;
  }
  .faqs-p {
    font-size: 1.2rem;
  }
  .startups-container {
    max-width: 576px;
    margin: 0 auto;
  }
  .header-text {
    font-size: 2.3rem;
  }
  .startups-pargraph {
    font-size: 1.2rem;
  }
  .card-container {
    width: 380px;
    height: 430px;
  }
  .startups-button {
    padding: 15px 35px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    max-width: 768px;
  }

  .navbar-header {
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .navbar-nav.active {
    max-height: 200px;
  }
  .nav-item {
    margin: 5px;
  }
  .nav-btns.active {
    margin: 5px;
  }

  .burger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
  }

  .burger-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease-out;
  }

  .burger-icon::before,
  .burger-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    transition: transform 0.3s ease-out;
  }

  .burger-icon::before {
    transform-origin: top left;
    transform: translateY(-6px);
  }

  .burger-icon::after {
    transform-origin: bottom left;
    transform: translateY(6px);
  }

  .nav-btns {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .nav-btns.active {
    max-height: 400px;
    display: flex;
  }

  .nav-btns a {
    margin: 10px 0;
  }

  .hero-container {
    flex-direction: column-reverse;
    max-width: 576px;
  }
  .text-container {
    text-align: center;
    max-width: 100%;
  }
  .hero-container h1 {
    font-size: 2.5rem;
  }
  .hero-container p {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .hero-image {
    width: auto;
  }
  .hero-btns {
    display: flex;
    justify-content: center;
    margin-top: -20px;
  }

  .logo-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1rem;
    padding-bottom: 1rem;
  }
  /* .cards {
    max-width: 768px;
    margin: 0 auto;
  } */
  .inv-container {
    /* margin-top: -30%; */
    height: 100vh;
  }
  .card-container {
    width: 350px;
    height: 400px;
    margin: 40px;
  }
  .faqs-content {
    max-width: 576px;
    margin: 0 auto;
  }
  .startups-container {
    max-width: 576px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .navbar {
    max-width: 576px;
  }
  .hero-container h1 {
    font-size: 1.5rem;
  }
  .hero-container p {
    font-size: 1rem;
  }
  .hero-image {
    width: auto;
    height: 300px;
  }
  .text-container {
    max-width: 100%;
    margin-top: 2%;
  }
  .logo-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .faqs-content {
    max-width: 450px;
    margin: 0 auto;
  }
  .startups-container {
    max-width: 350px;
    margin: 0 auto;
  }
  .header-text {
    font-size: 1.8rem;
  }
  .startups-pargraph {
    font-size: 1rem;
  }
  .card-container {
    width: 250px;
    height: 380px;
    margin: 20px;
  }
  .faqs-header {
    font-size: 1.8rem;
  }
  .faqs-p {
    font-size: 1rem;
  }
  .startups-button {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 350px) {
  .navbar {
    max-width: 350px;
  }
  .hero-btns {
  }
  .hero-image {
    width: auto;
    height: 250px;
  }
  .text-container {
    margin: 10px;
  }
  .hero-container h1 {
    font-size: 1rem;
  }
  .hero-container p {
    font-size: 0.8rem;
  }
  .startups-container {
    max-width: 250px;
    margin: 0 auto;
  }
  .header-text {
    font-size: 2rem;
  }
  .startups-pargraph {
    font-size: 1.2rem;
  }
}
