/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04aa6d;
}

.active {
  background-color: #04aa6d;
}

/* hero section */

.hero-container {
  position: relative;
  text-align: left;
  height: 100vh;
  /* background-color: #9bbdab; */
}

.text-container {
  position: absolute;
  top: 40%;
  left: 34%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: x-large;
}

.hero-image {
  width: 100%;
  height: 100vh;
}

/* Cards */

.card-container {
  width: 250px;
  height: 350px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr;
}
.card-container img {
  margin-left: 20%;
}
.card-container button {
  background-color: #04aa6d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.card-container button:hover {
  background-color: #028354;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Startups page */
.main-container {
  height: 100vh;
  margin-top: 70px;
  
}

.startups-container {
  text-align: center;
  margin-bottom: 100px;
}

.startups-button {
  background-color: #04aa6d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
}






/* footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.footer-Logo {
  font-size: 20px;
  padding-left: 50px;
}

.footer-info {
  margin: 0;
  text-align: right;
  padding-right: 50px;
}

.footer-info a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.footer-info a:hover {
  color: #ddd;
}

.pargraph-footer{
  margin-top: 90px;
  font-size: 15px;
}

.button-with-image {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* .paragraph-footer {
  
}  */


/* Investors page */

.inv-container{
  margin-top: 70px;
  text-align: center;
  height: 100vh;
}
.inv-container h1 {
  margin-bottom: 50px;
}

.first-inv-info{
  display: flex;
  justify-content: center;
  margin: 30px;
}



/* CONTACT PAGE */

.contact-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 100px;
}

