/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04aa6d;
}

.active {
  background-color: #04aa6d;
}

/* hero section */

.hero-container {
  position: relative;
  text-align: left;
}

.text-container {
  position: absolute;
  top: 40%;
  left: 34%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: x-large;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

/* Cards */

.card-container {
  width: 250px;
  height: 350px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr;
}
.card-container img {
  margin-left: 20%;
}
.card-container button {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.card-container button:hover {
  background-color: darkblue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Startups page */

.startups-container {
  text-align: center;
  margin-bottom: 30px;
}

.startups-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
